*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


/* navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}
.logo img {
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 45px;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 3px;
}
.nav-list{
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 23px 34px;
    
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;

}
.nav-list li a:hover{
    color: grey;
}
.rightnav{
    margin-right: 20px;
}
#search{
    border-radius: 7px;
    padding: 1px;
    font-size: 17px;
    border: 2px solid grey;

}
.btn{
    border-radius: 7px;
    padding: 0px 3px;
    border: 1px solid white;
    background: transparent;
    color: white;

}
.btn:hover{
    border: 1px solid grey;
}
/*transparent  navbar background */
.background{
    background: rgba(0,0,0,0.7) url('https://wallpapercave.com/wp/wp2752752.jpg');
    background-size: cover;
    background-blend-mode: darken ;
}
/* section 1 */
.section-1{
    height: 100vh;
}
.s-main{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.right-1 img {
    height: 150px;
    width: 150px;
    border: 3px solid white;
    border-radius: 90px;


}
.left-1{
    margin-top: 260px;
    margin-left: -50px;
    color: white;
    width: 40%;
    
}
.right-1 {
    margin-top: 220px;
    margin-left: 60px;
}
.btnn{
    margin-top: 20px;
}
.btn1{
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 2px 10px;
    color: white;
}
.btn2{
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 2px 10px;
    color: white;
    margin-left: 10px;
}
.left-1 h1 {
    font-size: 30px;
}
.left-1 p {
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.btn1:hover{
    border: 2px solid grey;
}
.btn2:hover{
    border: 2px solid grey;
}

/* section -2 */

.section-2{
    margin-bottom: 40px;
}
.first{
    display: flex;
    margin-top: 20px;
}
.right-2-1 img{
    height: 156px;
    width: 156px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 160px;
    margin-top: 10px;
}
.left-2-1 {
    width: 800px;

    margin-left: 100px ;
    margin-top: 20px;


}
.left-2-1 h2 {
    font-size: 30px ;

}
.left-2-1 p {
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second{
    display: flex;
    margin-top: 20px;
}
.left-3-1 img {
    height: 156px;
    width: 156px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 100px ;
    margin-top: 20px;
}
.right-3-1 {
    width: 800px;
    margin-left: 160px ;
    margin-top: 20px;

}
.right-3-1 h2 {
    font-size: 30px ;

}
.right-3-1 p {
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.third{
    display: flex;
    margin-top: 20px;
}
.right-4-1 img{
    height: 156px;
    width: 156px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 160px;
    margin-top: 10px;
}
.left-4-1 {
    width: 800px;
    margin-left: 100px ;
    margin-top: 20px;


}
.left-4-1 h2 {
    font-size: 30px ;
}
.left-4-1 p {
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* contact form */

.contacts{
    background-color: rgb(194, 243, 255);
    height: 600px;
    width: 100%;
}
.text-center{
    text-align: center;
    font-size: 30px;
    padding-top: 24px;


}
.form{
    max-width: 500px;
    margin: 42px auto;
}
.form input , .text-area{
    margin: 10px 0;
    padding: 3px 3px;
    width: 100%;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 6px;
}
.submit-button{
    
    text-align: center;
}
.s-btn{
    border: 2px solid grey;
    text-decoration: none;
    padding: 4px 17px;
    color: black;
    border-radius: 6px;
    font-size: 20px;
}
footer {
    text-align: center;
    padding: 20px 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* hamburger */
.burger{
    display:none ;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 30px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
}